<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dominando.android.ex17_navegacao" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="dominando.android.ex17_navegacao.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="dominando.android.ex17_navegacao.TelaAbasActivity"
            android:label="@string/title_activity_tela_abas"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName="dominando.android.ex17_navegacao.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name="dominando.android.ex17_navegacao.TelaSpinnerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName="dominando.android.ex17_navegacao.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name="dominando.android.ex17_navegacao.TelaPagerActivity"
            android:label="@string/title_activity_tela_pager"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName="dominando.android.ex17_navegacao.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>
