<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dominando.android.hotel" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <permission
        android:name="dominando.android.hotel.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission
        android:name="dominando.android.hotel.permission.C2D_MESSAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="dominando.android.hotel.HotelActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="dominando.android.hotel.HotelDetalheActivity"
            android:label="@string/title_activity_hotel_detalhe"
            android:parentActivityName="dominando.android.hotel.HotelActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HotelActivity" />
        </activity>

        <provider
            android:name="dominando.android.hotel.HotelProvider"
            android:authorities="dominando.android.hotel"
            android:enabled="true"
            android:exported="true" >
        </provider>

        <service
            android:name="dominando.android.hotel.HotelIntentService"
            android:exported="false" >
        </service>

        <receiver
            android:name=".GcmReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="dominando.android.hotel"/>
            </intent-filter>
        </receiver>

        <service android:name=".GcmService"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
    </application>

</manifest>
