<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dominando.android.ex16_fragments" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="dominando.android.ex16_fragments.HotelActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="dominando.android.ex16_fragments.HotelDetalheActivity"
            android:label="@string/title_activity_hotel_detalhe"
            android:parentActivityName="dominando.android.ex16_fragments.HotelActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dominando.android.ex16_fragments.HotelActivity" />

        </activity>
    </application>

</manifest>
